body{
    background: #3d3336;
    font-family: 'Lato', sans-serif;
}

#header{
    background-color: beige;
    padding-left: 0px;
    width: 100%;
    height: 55px;
}

.top-menu{
    font-family: 'Lato', sans-serif;
    float:  right;
    font-size:  20px;
    line-height: 2.4;
}

#title{
    margin-top: 0px !important;
    margin-left: 5%;
    font-size: 44px;
    color: #3d3336;
    font-family: 'Lato', sans-serif;
}

p{
    color: #fefee5;
}

#ptext{
    margin-left: 2%;
    color: #fefee5;
}

.date{
    font-family: 'Lato', sans-serif;
    color: #fefee5;
}

#detail{
    margin-top: 40px;
    margin-left: 10%;
}

#titleDetail{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin-left: 5%;
    color: #fefee5;
}

.textDetail{
    font-size: 20px;
    margin-left: 5%;
    color: #fefee5;
}

#newpostdiv{
    margin-top: 40px;
    margin-left: 10%;
}

#newpostt{
    font-family: 'Lato', sans-serif;
    color: #fefee5;
}