body{
    background: #3d3336;
    font-family: 'Lato', sans-serif;
}

#header{
    background-color: beige;
    padding-left: 0px;
    width: 100%;
    height: 55px;
}

.top-menu{
    font-family: 'Lato', sans-serif;
    float:  right;
    font-size:  20px;
    line-height: 2.4;
}

#title{
    display: inline-block;
    margin-top: 0px !important;
    margin-left: 5%;
    font-size: 44px;
    color: #3d3336;
    font-family: 'Lato', sans-serif;
}

#title:hover{
    text-decoration: none !important;
}

#title:before {
  position: absolute;
  top: 1em;
  height: 0;
  width: 62px;
  content: '';
  border-top: 4px solid #3d3336;
}

#containsimage{
    color: beige;
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
}

.loginb{
    font-family:'Lato', sans-serif;
    height: 40px;
    float:right;
    color:#3d3336;
    font-size:20px;
    margin-right: 4%;
    margin-top: 7px;
    padding: 5px;
    border: #3d3336 solid 1px;
    border-radius: 5px;
}

.loginb:hover {
    text-decoration: none;
    color: beige;
    background-color: #3d3336;
    border: beige solid 1px;
    -webkit-transition: border 0.5s;
    -webkit-transition: background-color 0.5s;
    -webkit-transition: color 0.5s;
}

.loginb:focus {
    text-decoration: none;
    color:#3d3336;
}

p{
    color: #fefee5;
    word-wrap:break-word;
}

#ptitle{
    word-wrap:break-word;
}

#ptext{
    margin-left: 2%;
    color: #fefee5;
    word-wrap:break-word;
}

.date{
    font-family: 'Lato', sans-serif;
    color: #fefee5;
}

#detail{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    word-break: break-all;
}

#titleDetail{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    margin-left: 5%;
    color: #fefee5;
    word-wrap:break-word;
}

.textDetail{
    font-size: 20px;
    margin-left: 5%;
    color: #fefee5;
    word-wrap:break-word;
}

#imagepost{
    display: flex;
    width: 50%;
    margin: 60 auto;
}

#headerimage{
    text-decoration: none;
    color: #3d3336;
    text-align: center;
}

#collapse1{
    background-color: #3d3336;
}

#imagecollapse{
    margin-top: 15px;
    color: beige;
    font-size: 18px;
    background-color: rgba(254, 254, 229, 1);
    border: beige solid 1px;
}

#imagecollapse:hover{
    color: #3d3336;
    background-color: rgba(254, 254, 229, 1);
    -webkit-transition: color 0.5s;
    -webkit-transition: background-color 0.5s;
}

#imagecollapse:focus{
    color: #3d3336;
    background-color: rgba(254, 254, 229, 1);
    -webkit-transition: color 0.5s;
    -webkit-transition: background-color 0.5s;
}

.newpostwrapper{
    text-align: center;
}

#newpostt{
    font-family: 'Lato', sans-serif;
    color: #fefee5;
}

#login-form{
    font-size: 18px;
    text-align: center;
    color: beige;
    width: 400px;
    margin: 0 auto;
    margin-top: 20%;
}

#btnlogin{
    margin-top: 15px;
    color: beige;
    font-size: 18px;
    background-color: rgba(254, 254, 229, 0);
    border: beige solid 1px;
}

#btnlogin:hover{
    color: #3d3336;
    background-color: rgba(254, 254, 229, 1);
    -webkit-transition: color 0.5s;
    -webkit-transition: background-color 0.5s;
}