{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloggy</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="header">
        <h1 id="title"><a style="color: #3d3336;" href="{% url 'home' %}">Blog</a></h1>
    </div>

    {% block content %}
    {% endblock content %}

</body>
</html>