{% extends 'base.html' %}

{% block content %}
<a href="{% url 'post_new' %}" class="top-menu" style="font-family:'Lato', sans-serif;float:right;font-size:20px;line-height:2.4;margin-right: 10px;"><span class="glyphicon glyphicon-plus"></span> Add new post</a>

<div class="content container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">>
            {% for post in posts %}
                <div class="post">
                    <h1><a href="{% url 'postdetail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p id="ptext">{{ post.text|linebreaksbr }}</p>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}